/*=======================================================================================================================================
																	Generic CSS
=======================================================================================================================================*/
*
{
	margin:0;
	padding:0;
	border:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:1em;
	box-sizing:border-box;
}

/* Basic Common Column structure */
.width100{width:100%}
.margin_auto{margin:0 auto}
h1,h2,h3,h4,h5,h6{font-weight:normal;}

/* ========= Font Specific ========= */
.tiny{font-size:0.8em}
.small{font-size:0.9em}
.regular{font-size:1.1em}
.semiMedium{font-size:1.3em;}
.medium{font-size:1.5em}
.large{font-size:2.2em}
.semi-large{font-size:1.8em}
.extra-large{font-size:2.6em;line-height:1.5}
.xxlarge{font-size:3em;}

.light{font-family: 'Open Sans', sans-serif !important; font-weight:300;}
.fontRegular{font-family: 'Open Sans', sans-serif; font-weight:400;}
.semiBold{font-family: 'Open Sans', sans-serif; font-weight:600;}
.bold{font-family: 'Open Sans', sans-serif; font-weight:700;}
/*.upperCase{text-transform:uppercase}*/
.strike{ text-decoration:line-through}

/*float classes*/
.float_left{float:left;display:inline}
.float_right{float:right;display:inline}
.float_clear{clear:both;}

/*text alignment*/
.txtCenter{text-align:center;}
.txtRight{text-align:right;}
.txtLeft{text-align:left;}

/* padding */
.pad_3{padding:3px;}
.pad_5{padding:0.3em}
.pad_10{padding:0.6em}
.pad_14{padding:0.8em}
.pad_15{padding:0.9em}
.pad_20{padding:1.2em}
.pad_25{padding:1.5em}
.pad_30{padding:1.8em;}
.pad_40{padding:2.5em}
.pad_50{padding:3.1em}

.home_pad_offset{padding:1.8em;}

.pad_LR_30{padding:0 1.8em;}
.pad_L_15{padding-left:0.9em}
.pad_R_15{padding-right:0.9em}
.pad_LR_15{padding:0 0.9em;}
.pad_LR_20{padding-left:1.2em;padding-right:1.2em}
.pad_LR_25{padding:0 1.5em;}
.pad_L_30{padding-left:1.8em}
.pad_R_30{padding-right:1.8em}
.pad_TB_30{padding-bottom:1.8em;padding-top:1.8em}
.pad_TB_10{padding-bottom:0.6em;padding-top:0.6em}
.pad_TB_15{padding-bottom:0.9em;padding-top:0.9em}
.pad_TB_20{padding-bottom:1.2em;padding-top:1.2em}
.pad_TB_5{padding:5px 0;}
.pad_TB_6{padding:6px 0;}
.pad_TB_8{padding:8px 0;}

/* margin */
.mrg_B_3{margin-bottom:0.18em;}
.mrg_B_5{margin-bottom:0.3em;}
.mrg_B_10{margin-bottom:0.6em;}
.mrg_B_15{margin-bottom:0.9em;}
.mrg_B_20{margin-bottom:1.2em;}
.mrg_B_25{margin-bottom:1.5em;}
.mrg_B_30{margin-bottom:1.8em;}

.mrg_R_15{margin-right:0.9em;}
.mrg_R_20{margin-right:20px;}
.mrg_L_15{margin-left:0.9em;}
.mrg_L_25{margin-left:20px;}

/*spacer*/
.space5{height:0.3em; display:block;}
.space10{height:0.6em; display:block;}
.space15{height:0.9em; display:block;}
.space20{height:1.2em; display:block;}
.space30{height:1.8em; display:block;}
.space35{height:2.1em; display:block;}
.space40{height:2.5em; display:block;}
.space50{height:3.1em; display:block;}
.space60{height:60px; display:block;}
.space70{height:70px; display:block;}
.space80{height:80px; display:block;}
.space100{height:100px; display:block;}
.space120{height:120px; display:block;}
.space150{height:150px; display:block;}

/* coloumn structure*/
.col_1140{width:1140px;margin:0 auto}
.col_1_2{width:570px; float:left;}
.col_1_2_right{width:570px; float:right;}
.col_1_3{width:380px; float:left;}
.col_1_4{width:285px; float:left;}
.col_1_5{width:228px; float:left;}
.col_1_6{width:190px; float:left;}
.col_2_3{width:760px; float:left;}
.col_980{width:980px;}
.col_800_center{width:800px;margin:0 auto}
.col_800{width:800px; float:left}
.col_340{width:340px; float:left}

.col_800_right{width:800px; float:right;}
.col_340_right{width:340px; float:right;}

.col_1_3_dib{width:380px; display:inline-block;}


/*position*/
.posRelative{position:relative !important }

/*border-radius*/
.border_r_3{border-radius:3px;}
.border_r_4{border-radius:4px;}
.border_r_5{border-radius:5px;}
.border_r_50{border-radius:50%;}
.noBorder{border:none !important }

/*liner*/
.liner{height:1px; background-color:#000; display:block;}

/*text transform*/
.upperCase{text-transform:uppercase}
.capitalize{text-transform:capitalize;}
.txtDecNone{text-decoration:none;}

/* Notification */
.info, .success, .warning, .error {
margin: 10px 0;
padding:12px;
padding-left:36px !important;display:block
}
.info {
	color: #00529B; font-weight:400;
	background: #BDE5F8 url(../images/icons/ico-info.png) no-repeat 12px center;
}
.success {
	color: #4F8A10; font-weight:400;
	background: #DFF2BF url(../images/icons/ico-success.png) no-repeat 12px center;
}
.warning {
	color: #9F6000; font-weight:400;
	background: #FEEFB3 url(../images/icons/ico-warn.png) no-repeat 12px center;
}
.error {
	color: #D8000C; font-weight:400;
	background: #FFBABA url(../images/icons/ico-error.png) no-repeat 12px center;
}


/*========================================================================================================================================
																	Sushil IVF CSS
========================================================================================================================================*/


/* Theme Colors */
.themeBgPrime{background:#088393;} /* Dark Electric Blue */
.themeBgSec{background:#6eb8b7;} /* Steel Teal */
.themeBgThr{background:#C6C5B9} /* Silver */
.themeBgQtr{background:#393D3F;} /* Onyx */

.themeClrPrime{color:#088393;}
.themeClrSec {color: #6eb8b7;}
.themeClrThr{color:#C6C5B9;}
.themeClrQtr{color:#393D3F;}

.bgGrey{background:#E4EEF2;}
.bgLightGrey{background:#F0F4F5;}
.bgWhite{ background:#ffffff }

.bgPink{background:#d2176a;}
.clrPink{color:#d2176a;}

.clrWhite{color:#fff;}
.clrBlack{color:#000;}
.clrGrey{color:#a1a0a0;}
.clrDarkGrey{color:#557c8c;}
.bgBlack{background:#000;}


/* Text Style */
.paraTxt{color:#3e3e3e; line-height:1.5;}
.subPara{line-height:1.5; font-size:1.3em;}
.line-ht-3{line-height:1.3;}
.line-ht-5{line-height:1.5;}
.line-ht-8{line-height:1.8;}
.letter-sp-2{letter-spacing:2px;}
.letter-sp-3{letter-spacing:3px;}

.greyLine{background:#ccc; height:1px; width:100%; display:block; margin-top:25px; margin-bottom:25px;}
.theameLine{background:#088393; height:1px; width:100%; display:block; margin-top:25px; margin-bottom:25px;}

.dis-tbl{display:table;}
.tbl-cell{display:table-cell; vertical-align:middle;}

.dispBlk{display:block !important;}

.shortLine{display:block; height:3px; width:80px; margin-top:20px; margin-bottom:20px;}
.space3{height:3px; display:block;}
.space1{height:1px; display:block;}


/* Header */
#header{position:fixed; top:0; left:0; background:#fff; box-shadow:0 3px 10px rgba(0,0,0,0.2); z-index:111;}
.logo{float:left; margin-right:70px;}
.logoName{margin-left:10px; margin-top:10px; float:left;}
.disp-none{display:none;}
.mobNavLogo{display:none; padding:40px 0 0 20px;}

.socIco{width:32px; height:32px; display:inline-block; margin-right:10px; opacity:0.6; -moz-transition:0.5s; -o-transition:0.5s; -webkit-transition:0.5s; transition:0.5s;}
.fb{background:url("../images/icons/topFb.png") no-repeat center center;}
.insta{background:url("../images/icons/topInsta.png") no-repeat center center;}
.youTube{background:url("../images/icons/topYoutube.png") no-repeat center center;}
.fb:hover, .insta:hover, .youTube:hover{-moz-transform:translateY(-5px); -ms-transform:translateY(-5px); -o-transform:translateY(-5px); -webkit-transform:translateY(-5px); transform:translateY(-5px);}

/* Top Icons */
.socialBox{float:right; margin-right:10px;}
.topFb, .topyouTube, .topInsta{ -moz-transition:0.5s; -o-transition:0.5s; -webkit-transition:0.5s; transition:0.5s; width:20px; height:20px; margin-right:8px; display:inline-block;}
.topFb:hover, .topyouTube:hover, .topInsta:hover{-moz-transform:translateY(-5px); -ms-transform:translateY(-5px); -o-transform:translateY(-5px); -webkit-transform:translateY(-5px); transform:translateY(-5px);}
.topFb{background:url("../images/icons/tFb.png") no-repeat center center;  }
.topyouTube{background:url("../images/icons/tYoutube.png") no-repeat center center; }
.topInsta{background:url("../images/icons/tInsta.png") no-repeat center center;}


.topMail{background:url("../images/icons/topMail.png") no-repeat top left; color:#555; padding-left:32px; text-decoration:none; line-height:1.5; font-weight:400;}
.topCall{background:url("../images/icons/topCall.png") no-repeat top left; color:#fff; padding-left:32px; text-decoration:none; line-height:1.5; font-weight:400; float:right;}

.btnAppointment{background:#393D3F; color:#fff; font-size:0.9em; text-decoration:none; padding:8px 15px; border-radius:3px; display:block; position:absolute; right:0; bottom:8px;  -moz-transition:0.5s; -o-transition:0.5s; -webkit-transition:0.5s; transition:0.5s;}
.btnAppointment:hover{background:#6eb8b7;}

/* Navigation */
#topNavPanel{width:100%; -moz-transition:0.5s; -o-transition:0.5s; -webkit-transition:0.5s; transition:0.5s;}
#topNav{list-style:none;float:left; margin-top:60px;}
#topNav li{display:inline; position:relative}
#topNav li a{font-family: 'Open Sans', sans-serif; font-weight:600; display:inline-block; text-decoration:none;color:#171717;font-size:1em;line-height:1.5;padding:10px 12px; letter-spacing:1px;}
#topNav li a.subNav{background:url(../images/icons/navArrow.png) no-repeat right center;padding-right:23px!important; cursor:pointer;}
#topNav li a:hover{color:#088393;}
#topNav li a.actPage{background:#3CA2A2;}
#topNav li a.actPageArrow{background:#3CA2A2 url(../images/icons/navArrow.png) no-repeat right center;}

#navBtn{width:34px;height:34px;background:url(../images/icons/nav-btn.png) no-repeat left center;display:none; cursor:pointer; position:absolute; top:60px; right:0; }

#topNav ul{position:absolute; display:none; top:32px; left:0; padding:5px 0; background-color:#fff !important; border-bottom:3px solid #088393; box-shadow:2px 3px 10px rgba(0,0,0,0.4);}
#topNav ul li{display:block; }
#topNav ul li a{font-family: 'Open Sans', sans-serif; font-weight:600; display:inline-block;text-decoration:none;color:#272727;padding:4px 10px; width:180px; font-size:0.9em !important; letter-spacing:normal; text-transform:capitalize}
#topNav ul li a:hover{color:#088393 !important; background:transparent !important;}
#topNav li:hover > ul{display:block; z-index:3}

#mobNav{display:none;}
.closeBtn{position:absolute; top:5px; right:25px; font-size:36px; color:#fff; text-decoration:none; display:none;}
#mobNav span{display:block !important;}

/* Banner */
.banner{background:#ccc url("../images/banner/banner-1.jpg") no-repeat left center; background-size:contain; width:100%; height:600px;}  
.bannerSpacer{height:152px; display:block;}
.mobTxt{display:none; text-align:center;}

/* Abs Quick Boxes */
.absBox{position:absolute; left:0; right:0; top:-100px; width:100%; display:block; margin:0 auto; background:#fff; box-shadow:3px 3px 15px rgba(0,0,0,0.3);}

.dottedLine{border:1px dotted #fff;}

.absSpacer{height:80px; display:block;}

/* About - Home Page */
.width30{width:30%; float:left;}
.width33{width:33.3%; float:left;}
.width40{width:40%; float:left;}
.width50{width:50%; float:left;}
.width60{width:60%; float:left;} 
.width70{width:70%; float:left;}

.readAnch{text-decoration:none; background:#088393; border:2px solid #088393; color:#fff; padding:10px 20px; display:inline-block; line-height:1.5; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out;}
.readAnch:hover{background-color:transparent; color:#088393;}

.readAnchOutline{text-decoration:none; background:transparent; border:2px solid #088393; color:#088393; padding:10px 20px; display:inline-block; line-height:1.5; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out;}
.readAnchOutline:hover{background-color:#088393; color:#fff;}

.readAnchWhite{text-decoration:none; background:transparent; border:2px solid #fff; color:#fff; padding:12px 30px; display:inline-block; line-height:1.5; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out;}
.readAnchWhite:hover{background:#fff; color:#088393}

.iconBox{width:100px; height:100px; float:left; border-radius:50%; position:relative; background:#fff; box-shadow:4px 5px 15px rgba(0,0,0,0.3);}
.iconBox img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.iconInfo{margin-left:120px;}

/*Testimonials Page*/
.testimonial {border-right: 4px solid #b2cadc; /*box-shadow: 5px 5px 6px  rgba(0, 0, 0, 0.2);*/ overflow: hidden; position: relative; /*border-bottom: 3px solid #b2cadc;*/}

	/*.testimonial:before {content: ""; position: absolute; bottom: 0; right: 0; border-top: 25px solid #30a3d9; border-left: 25px solid transparent; border-right: 25px solid transparent; transform: rotate(-45deg); transform-origin: 80% -30% 0;}*/

.testiImg {width: 80px; height: 80px; float: left;}
.testname{margin:10px 0 0 50px;}
	.testiImg img {border-radius: 50%;}
.testInfo {text-shadow:0 4px 8px rgba(0,0,0,0.3);}
.quotebg {background: url("../images/bgquote.png") no-repeat center center; z-index: 1;}
.backgroundGreay {background-color:#eaeaea}
.testnm{margin-left:100px;}
/*.testicity{margin-left:470px;}*/


/* Services - Home Page */
.box{position:relative; background:#fff; text-align:center; border-bottom:3px solid #088393; box-shadow:0 5px 15px rgba(0,0,0,0.1); border-radius:4px; padding:40px; overflow:hidden;}
/*.box:before{content:''; width:50%; height:100%; position:absolute; left:0; top:0; background:rgba(255,255,255,0.2); z-index:2; pointer-events:none;}*/
.box .icon{position:relative; width:80px; height:80px; color:#fff; background:#000; border-radius:50%; display:block; margin:0 auto; display:flex; justify-content:center; align-items:center; font-size:30px; font-weight:600; transition:1s;}

.box .content{position:relative; z-index:1; transition:0.5s;}
.box:hover .content{color:#fff; }
.box:hover .content .themeClrPrime, .box:hover .content .themeClrSec, .box:hover .content .clrGrey{color:#fff !important}

.content span{display:block;}

.box .rm{text-decoration:none; background:#fbfbfb; border-radius:3px; color:#000; display:inline-block; padding:10px 15px; box-shadow:0 2px 5px rgba(0,0,0,0.1);}

.width33:nth-child(odd) .box .icon{box-shadow:0 0 0 0 #088393; background:#088393;}
.width33:nth-child(odd):hover .box .icon{box-shadow:0 0 0 450px #088393;}

.width33:nth-child(even) .box .icon{box-shadow:0 0 0 0 #6eb8b7; background:#6eb8b7;}
.width33:nth-child(even):hover .box .icon{box-shadow:0 0 0 450px #6eb8b7;}

/* Testimonials */
.bgTestimonial{background:url("../images/testimonials-bg.jpg") no-repeat fixed center; width:100%; background-size:cover;}
.bgTestimonialOverlay{background:rgba(0,0,0,0.7); width:100%;}

.smallRm{text-decoration:none; color:#C6C5B9; font-size:0.9em; display:inline-block; line-height:1.5; border-bottom:1px solid transparent;}
.smallRm:hover{border-bottom:1px solid #C6C5B9;}
.testImg{width:100px; height:100px; border-radius:50%;}
.testPad{padding:40px 130px;}
/* Testimonial Slider */
.unslider{overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider ol{display:none;}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer; top: 50%;}

.unslider-arrow.next{left:auto;right:0; height:48px; width:48px; background-image:url(../images/icons/next.png); }
.unslider-arrow.prev{left:0;right: auto; height:48px; width:48px; background-image:url(../images/icons/next.png);-ms-transform: rotate(-180deg);
			transform: rotate(-180deg); }

/* Doctors - Home Page */
.docImg{width:200px; height:200px;  margin:0 auto; position:relative;}
.docImg img{border-radius:50%;}
.docAbsIcon{width:60px;  height:60px; border-radius:50%; background:#215A6D; position:absolute; bottom:-15px; right:20px; border:5px solid #fff;}
.docAbsIcon img{border-radius:50%; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
#doc .col_1_3 a:hover .themeClrPrime{color:#b76eb8}

/* Appointment & FAQ - Home Page */
.bgApp{background:url("../images/baby-feet-mother-hands.jpg") no-repeat fixed center; width:100%; background-size:cover;}
.bgAppOverlay{background:rgba(0,0,0,0.7);}
.faqShadow{box-shadow:10px 10px 25px rgba(0,0,0,0.5);}

/*Accordian*/
.genMedAccordian h3 {background: #C6C5B9; color: #444; text-align: left; padding: 15px 14px; cursor: pointer; margin-top: 0; margin-bottom: 9px;
					 padding-right: 40px; transition: 0.25s all; position: relative; font-size:1.1em; line-height:1.3; font-weight:400; }
.genMedAccordian h3:hover{background:#215A6D; color:#fff;}
.genMedAccordian h3.active {margin-bottom: 21px; background: #215A6D; color:#fff; }
.genMedAccordian h3::before {content: attr(data-prefix); font-size:1em; margin-right: 9px;}
.genMedAccordian h3.alignLeft {	padding-left: 35px;}
.genMedAccordian > div {display: none; background: transparent; border: 1px solid #cdcdcd; text-align: left; padding:15px; margin-bottom: 9px; }
.genMedAccordian .arrowDown {width: 0; height: 0; border-style: solid; border-width: 13.0px 7.5px 0 7.5px; border-color: #215A6D transparent transparent transparent; position: absolute;
							 bottom: 0; left: 40px; transition: 0.25s all;  opacity: 0;}
.genMedAccordian .active .arrowDown {bottom: -13px; border-color: #215A6D transparent transparent transparent; opacity: 1;}
.genMedAccordian .collapseIcon {position: absolute; right: 20px; top: 45%; font-size: 25px; color:#088393; font-weight: 300; -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.genMedAccordian .collapseIcon.alignLeft {right: initial; left: 20px;}

/* News - Home Page */
.nwImgHt{height:220px; overflow:hidden; border:1px solid #ccc;}
.newsTitle{text-decoration:none; line-height:1.5; color:#393D3F; display:block;}
#nws .col_1_3:hover .newsTitle{color:#3CA2A2;}

/* Footer */
.clr555{color:#555;}
.footer{background:#03343a;}
.footer span{display:block; color:#7f888b;}
.footerCaption{font-size:1.4em; line-height:1.5; color:#C6C5B9;}
.footerNav{list-style:none}
.footerNav li{}
.footerNav li a{text-decoration:none;display:inline-block;padding:0.2em 0;color:#7f888b;font-size:0.9em; line-height:1.3; font-weight:400;}
.footerNav li a:hover{color:#3CA2A2;}
.intellect{text-decoration:none; color:#7f888b; font-weight:600;}
.intellect:hover{color:#6eb8b7;}

.footerLine{background:#61696c; width:100%; height:1px; display:block;}
.fLine{position:relative; background:#61696c; width:90%; height:1px; display:block;}
.fAbsLine{position:absolute; left:0; top:-1px; background:#C6C5B9; width:70px; height:2px; display:block;}

.foo_socialIco{width:48px; height:48px; display:inline-block; margin-right:5px;}
.foo_fb, .foo_insta, .foo_youTube{transition:0.5s;}
.foo_fb:hover, .foo_insta:hover, .foo_youTube:hover{transform:translateY(-10px);}
.foo_fb{background:url("../images/icons/fb.png") no-repeat center center;}
.foo_insta{background:url("../images/icons/instagram.png") no-repeat center center;}
.foo_youTube{background:url("../images/icons/youtube.png") no-repeat center center;}

/* Contact Info - Home */
.addr{background:url("../images/icons/location.png") no-repeat top left; display:block; padding-left:34px; font-weight:400; color:#7f888b;}
.email{background:url("../images/icons/mail.png") no-repeat top left; display:block; padding-left:34px;  font-weight:400; color:#7f888b;}
.foo_call{background:url("../images/icons/call.png") no-repeat top left; display:block; padding-left:34px; font-weight:400; color:#7f888b; }
.breakWord{word-wrap:break-word;}


	/* Page Headers */
	/*.pg_TB_pad{padding:6em 0;}
.pgHeader{background:linear-gradient(120deg, #215A6D, #3CA2A2, #71b788); width:100%;}
.absPgHeader{background:rgba(255,255,255,0.9); width:50%; border-bottom:2px solid #3CA2A2; position:absolute; left:0; bottom:-180px; box-shadow:5px 10px 25px rgba(0,0,0,0.2), -5px 0 20px rgba(0,0,0,0.2);}
.headerSpacer{height:120px; display:block;}*/


	.pg_TB_pad {padding: 6em 0em;}
.headerOverlay {background: rgba(0,0,0,0.2); display: block; height: 300px;}
.pgHeader1 {background: url("../images/page-headers/page-header-1.png") no-repeat center center; background-size: cover; height: 300px;}
.pgHeader2 {background: url("../images/page-headers/page-header-2.jpg") no-repeat center center; background-size: cover; height: 300px;}
.pgHeader3 {background: url("../images/page-headers/page-header-3.jpg") no-repeat center center; background-size: cover; height: 300px;}
.pgHeader4 {background: url("../images/page-headers/page-header-4.jpg") no-repeat center center; background-size: cover; height: 300px;}
.pgHeader5 {background: url("../images/page-headers/page-header-5.jpg") no-repeat center center; background-size: cover; height: 300px;}
.pgHeader6 {background: url("../images/page-headers/page-header-6.jpg") no-repeat center center; background-size: cover; height: 300px;}

/* Page Header Styles */
.pageH1{font-size:3.2em; line-height:1.3;}
.pageH2{font-size:2.1em; line-height:1.5;}
.pageH3{font-size:1.7em; line-height:1.5;}
.pageH4{font-size:1.4em; line-height:1.5;}

/* Bread Crumbs */
.bCrumb{list-style:none;display:inline;font-size:1em; float:left;}
	.bCrumb li {display: inline; margin-right: 0.6em; color:white; float: left; font-weight: 400;}
.bCrumb li a {text-decoration: none; font-size: 1em; font-weight: 600; color: #088393;}
.bCrumb li a:hover{border-bottom:2px solid #215A6D; }

/* page sidebar */
.sideBlueBase{background-color:#dfe5e6;text-align:center}
.sideTitle{color:#215A6D;line-height:1.5; font-weight:600;}
.sideIntro{color:#4d4e53;line-height:1.3;font-size:1em}
.sideAnch{background-color:#3CA2A2;color:#fff;text-align:center; display:inline-block; padding:0.8em 1.7em;text-decoration:none;line-height:1.3;margin:0 auto; transition:0.5s;}
.sideAnch:hover{background-color:#000;}

/* About Us */
.leftImg{float:left; width:570px; margin:0 30px 10px 0;}

/*23/02/2022*/
.parallaxAbt {background: url("../images/baby-feet.jpg") no-repeat fixed center;}
.paraOverlay {background:rgba(0,0,0,0.7); display: block;}

/*24/02/2022*/
/*Our Values*/
.ourservice {display: block; background: url("../images/icons/value.png") no-repeat left center; padding-left: 80px; height: 70px; position: relative;}

.honest {display: block; background: url("../images/icons/honest.png") no-repeat left center; padding-left: 80px; height: 70px; position: relative;}

.cooperate {display: block; background: url("../images/icons/cooperate.png") no-repeat left center; padding-left: 80px; height: 70px; position: relative;}

.commitement {display: block; background: url("../images/icons/handshake.png") no-repeat left center; padding-left: 80px; height: 70px; position: relative;}

.safety {display: block; background: url("../images/icons/shield.png") no-repeat left center; padding-left: 80px; height: 70px; position: relative;}

.vertical-center {margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}

.bgckground{background-color:#c8e3dc !important }

.w50bg {background-color: #088393;}

.Verticalline {display: inline; height: 80px; width: 3px; margin-top: 20px; margin-bottom: 20px; background:#088393;}

.vl {border-left: 2px solid #b2cadc;}
.vlpadding{padding:8px 8px 8px 16px;}

.vline {border-right: 2px solid #b2cadc;}
/* Trustee */
.cardCol{width:33%; display:inline-block;}
.card-wrapper{display:flex; align-items:center; align-content:center; flex-direction:column;}
.card{background:#e8e5e5; display:flex; flex-direction:column; align-items:center; justify-content:center; box-shadow:3px 5px 10px rgba(0,0,0,0.2);}
/*.card .card-img{width:100%; height:250px; object-fit:cover; -webkit-clip-path:polygon(0 0, 100% 0, 100% 78%, 0% 100%); clip-path:polygon(0 0, 100% 0, 100% 78%, 0% 100%); filter:blur(3px)}*/
.card .card-img{width:100%; height:200px; object-fit:cover; -webkit-clip-path:polygon(0 0, 100% 0, 100% 78%, 0% 100%); clip-path:polygon(0 0, 100% 0, 100% 78%, 0% 100%); }
.bg1{background:linear-gradient(120deg, #22c1c3, #fdbb2d);}
.bg2{background:linear-gradient(120deg, #2BC0E4, #EAECC6);}
.bg3{background:linear-gradient(120deg, #00467F, #A5CC82);}
.bg4{background:linear-gradient(120deg, #00F260, #0575E6);}
.bg5{background:linear-gradient(120deg, #56ab2f, #a8e063);}
.profile-img{width:150px; height:150px; object-ftr:cover; border-radius:50%; margin-top:-110px; z-index:999; border:1px solid #ebeef8;}
.card h3{font-size:1.5em; color:#333; margin:15px 0; text-align:center;}
.job-title{color:#3CA2A2; font-size:1.5rem; font-weight:400;}
.card .about{font-size:1em; line-height:1.5; padding:10px; text-align:center;}

/*Form Controls*/
.w100{width:100%;}
.labelCap{ font-weight:600; padding:5px 15px 5px 0; display:block; margin-bottom:0.3em }
.subNotice{font-size:0.8em; color:#999999; font-style:italic; margin-bottom:15px; display:block}
.textBox{padding:0.4em; display:block; border:1px solid #ccc; resize:none; width:97%;  }
.textBox:focus{outline:none; border:1px solid #3CA2A2;}
.cmbBox{padding:0.4em; border:1px solid #cccccc; display:block; resize:none; width:98%}
.cmbBox:focus{outline:none; border:1px solid #3CA2A2;}
.w50{width:50%}
.w20{width:20%}
.w80{width:80%}
.w90{width:90%}
.w95{width:95%}
.w98{width:98%}
.w70{width:70%; margin:0 auto;}
.app_r_padding{padding-right:1.8em}
.chkList{width:100%}
.chkList input{padding:8px; margin-bottom:10px; display:inline-block;}
.buttonForm{background-color:#215A6D; color:#fff; font-size:1em; padding:10px 18px; cursor:pointer; -webkit-transition:all 0.7s ease; transition:all 0.7s ease;}
.buttonForm:hover{background:#052e3e;}
input[type="text"]:disabled {background: #fff;}
input[type="text"]:focus{outline:none;}

/* Contact Us */
#map-canvas {width:100%; height:450px; margin:0; padding:0;}
.conIco{padding-left:40px; line-height:1.5; font-size:0.9em; color:#404041}
.home{background:url("../images/icons/home.png") no-repeat top left; display:block;}
.conMail{background:url("../images/icons/conEmail.png") no-repeat top left; display:block; line-height:2;}
.conCall{background: url("../images/icons/conCall.png") no-repeat top left; display: block; line-height: 2;}
.conBox{background:#fff; border-bottom:3px solid #3CA2A2; box-shadow:0 8px 20px rgba(0,0,0,0.2);}
.box-shadow{box-shadow:5px 8px 15px rgba(0,0,0,0.2);}
.boxBorder{border:2px solid #92C7A3;}


/*22/02/2022*/
.column {float:left; width:50%; padding:10px; height:300px; /* Should be removed. Only for demonstration */}

/* Clear floats after the columns */
.row:after{content: ""; display: table; clear: both;}
.conTop{background: url("../images/icons/conCall.png") no-repeat top left; display: block; padding-left: 40px; color: black;}

.contactEmail {background: url("../images/icons/conEmail.png") no-repeat top left; display: block; padding-left: 40px; color: black;}

/* Unordered Lists */
.basicList{list-style:none}
.basicList li{display:block;background:url(../images/icons/blue-dot.png) no-repeat left 7px;font-size:1em;line-height:1.5;color:#484848;padding-left:20px;padding-bottom:5px}

.basicOrderList{padding-left:20px;}
.basicOrderList li{padding-bottom:8px; line-height:1.5;}


.absTopArrow{position:fixed; bottom:15px; right:20px; z-index:55;}
.fixedArrow{background:url("../images/icons/topIco.png") no-repeat center center; display:block; height:48px; width:48px;}
.topArrowIco{}

/*Latest Activities and Events*/
.news-img{float:left;width:280px;}
/*.news-img .imgBox{height:220px; overflow:hidden; border:1px solid #ccc; padding:3px;}*/
.news-img .imgBox{border:1px solid #ccc; padding:3px;}
.news-info{margin-left:300px;}

.news-Tag{font-size:1.3em;color:#215A6D;text-decoration:none;display:block; text-transform:capitalize;}
.news-Tag:hover{color:#088393}
.newspost{font-size:0.9em;color:#555555;display:block;margin-bottom:0.6em; font-style:italic; font-weight:400;}

.Readmore{font-size:0.9em;color:#3CA2A2;text-decoration:none;}
.Readmore:hover{border-bottom:1px solid #3CA2A2;}
.news-photo{height:222px; overflow:hidden; border: 0.9px solid #ddd;}
.detail-img{height:512px; overflow:hidden;}

/* Photo Gallery */
.img-border{border:1px solid #ccc;}
.img-border:hover{border:1px solid #00AFF0;}
.pressDate{color:#272727; font-size:0.9em; line-height:1.8; display:block;}
.albumPic{width:200px; float:left;}
.albumDesc{margin-left:230px;}
.albumTitle{text-decoration:none; color:#0C7DAF; font-size:1.5em; line-height:1.5; display:block; text-transform:capitalize;}
.albumTitle:hover{color:#00AFF0;}
.albumAnch{text-decoration:none; background:#7FBA00; color:#fff; padding:8px 25px; display:inline-block;}
.albumAnch:hover{background:#0b0b0b;}

#videos .col_1_3 .themeBgSec{transition:0.5s; }
#videos .col_1_3:hover .themeBgSec{background:#00AFF0; }
#proj .imgContainer{height:200px; overflow:hidden;}

/*News Page*/
/*.news-img {float: left; width: 280px;}
	.news-img .imgBox {height: 230px; overflow: hidden; border: 1px solid #ccc; padding: 3px;}

.news-info {margin-left: 300px;}
.news-Tag {font-size:1.5em; color:#088393; text-decoration:none; text-transform:capitalize;}

	.news-Tag:hover {color: black}
.newspost {font-size: 0.9em; color: #555555; display: block; margin-bottom: 1em; font-style: italic; font-weight: 400;}

.Readmore {font-size: 0.9em; color: teal; text-decoration: none;}
	.Readmore:hover {border-bottom: 1px solid teal;}*/

/*Services(treatement) Page*/
.txtheight{height:480px;}
.nwsbx{box-shadow:0 3px 10px rgba(0,0,0,0.2); border: 1px solid #ccc; border-bottom: 2px solid #088393;}

/*Doctors Profile(25/03/99)*/
/*.drprofile{width:200px; height:200px;}*/
.drprofile{float:left; width:180px; text-align:center;}
.docInfo{margin-left:260px;}

/*.docImg{float:left; width:180px; text-align:center;}
.docInfo{margin-left:260px;}
*/
.aboutlist{}
.aboutlist li{display:inline-block; padding:1px 20px; border-right:2px solid #088393;}
.aboutlist li a{text-decoration: none; color:#6eb8b7; font-weight:400; font-size:1.2em;}
.aboutlist li a:hover{color:#088393;} 
.aboutlist li:last-child{border:none;}
.aboutlist li:first-child{padding-left:0;}	

/*facilities page*/
.facilitytext{color:#215A6D; font-size:1.3em; margin:-70px 5px 10px 170px;}
.facilitybx{box-shadow:0 3px 10px rgba(0,0,0,0.2); border:1px 2px solid #ccc; border-radius:15px;}
.thikline{background:#088393; height:4px; width:100%; display:block; margin-top:25px; margin-bottom:25px;}
.bgfacilityxb{background:#f1fafa; border:1px solid #3CA2A2; border-radius:8px; box-shadow:0 3px 10px rgba(0,0,0,0.5);}
.bgclrfacility{background:#f1fafa; border:1px solid #3CA2A2; border-radius:8px; box-shadow:0 3px 10px rgba(0,0,0,0.5);}

.bulletlist{list-style:none;}
.bulletlist li{list-style:none; display:block; font-weight:400;}
.bulletlist li span{font-size:1.2em; margin-left:10px; line-height:1.5;}
.faciicon{float:left; width:70px;}
.faciliDesc{margin-left:80px;}

/*================================================= Media Queries ==================================================*/
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1440px)
{
	.banner{height:495px;}
}
@media screen and (max-width: 1280px) 
{
	#serv .width70 .width33{width:49%; float:none; display:inline-block;}
	.banner{height:440px;}
}
@media screen and (max-width: 1200px)
{
	.email{word-wrap:break-word;}
	.col_1140{width:95%}
	.col_1_2, .col_1_2_right{width:50%}
	.col_1_3{width:33%}
	.col_2_3{width:67%}
	.col_1_4{width:25%}
	.col_1_5{width:20%}
	.col_1_6{width:16.5%}
	.col_800{ width:70%}
	.col_340{ width:30%}

	.col_800_right{width:70%;}
	.col_340_right{width:30%;}
	.banner{height:413px;}
}
@media screen and (max-width: 1140px)
{
	.col_1140{width:95%}
	.col_1_2, .col_1_2_right{width:50%}
	.col_1_3{width:33%}
	.col_2_3{width:67%}
	.col_1_4{width:25%}
	.col_1_5{width:20%}
	.col_1_6{width:16.5%}
	.col_800{width:70%}
	.col_340{width:30%}

	.col_800_right{width:70%;}
	.col_340_right{width:30%;}

	#navBtn, #mobNav{display:block;}
	.mobNavLogo{display:block;}

	#topNavPanel{position:fixed; top:0; right:0; width:0; height:100%; z-index:1111; background:rgba(8,131,147,0.9); overflow-x:hidden;  overflow-y:scroll;}
	#topNav{list-style:none; float:left !important;}
	#topNav li{display:block; position:relative; text-align:left !important;}
	#topNav li a{text-decoration:none; background:transparent; display:block; border:none !important; font-weight:400; color:#fff; font-size:1em; line-height:1.5; padding:5px 30px;}
	#topNav li a:hover{color:#C6C5B9; background:transparent !important;}
	#topNav li a.subNav{background:none;}
	#topNav ul{position:relative; top:0; left:18px;display:block; padding:5px 0 !important; background:transparent !important; border:none !important; box-shadow:none !important;}
	#topNav ul li{border:none !important; background:transparent !important;}
	#topNav ul li a{display:block;padding:3px 0 3px 30px; font-size:0.9em; line-height:1.3; color:#fff !important;background:transparent;text-align:left; }
	#topNav ul li a:hover{background:transparent !important; color:#C6C5B9 !important;}
	
	/*#nav .space10, #nav .space30{height:0px;}*/
	.closeBtn{display:block;}

	.banner{height:428px;}

	.btnAppointment{bottom:70px; right:0; }

	#serv {width:40%;}
	#serv .width70{width:60%;}
	#serv .width70 .width33{width:100%; float:none; display:block;}

	#contct .width50{width:100%;}
	#contct .width50 .space30, #contct .width50 .space10{height:0;}
	.banner{height:392px;}
	.banner .xxlarge{font-size:2.6em}
	.banner .large{font-size:2em;}
}
@media screen and (max-width: 1024px)
{
	.col_980{width:100%;}
	.banner{height:384px;}
	#serv .width30, #serv .width70{width:100%;}
	#serv .width70, #serv .width30{text-align:center;}
	#serv .width70 .shortLine, #serv .width30 .shortLine{margin:15px auto;}
	#serv .width70 .width33{width:49%; float:none; display:inline-block;}
	#box1{height:auto !important;}
	#serv .col_1_2, #serv .col_1_2_right{width:50%; float:none; display:block; margin:0 auto; text-align:center;}
	.txtheight{height:auto;}
	.banner{height:352px;}
	.banner .xxlarge{font-size:2.4em}
	.banner .large{font-size:1.7em;}
}
@media screen and (max-width: 920px)
{   
	.col_800{width:100%; float:none }
	.col_340{width:50%; float:none;}
	.col_800_center{width:100%;}
	
	.col_800_right{width:100%; float:none; margin-top:15px;}
	.col_340_right{width:100%; float:none; }
	.col_340_right .space15{height:0 !important;}
	
	.col_340_right .pad_L_30{padding:0 15px 15px 15px !important;}
	.pad_L_30{padding-left:0; margin-top:30px;}

	.banner{height:345px;}
	.absBox{position:static; overflow:hidden; margin-top:0px; width:100%;}
	.absBox .col_1_4{width:49%; float:none; display:inline-block}
	.absSpacer{height:0;}
	#absQbox{width:100%;}

	.banner .space50{height:20px;}
	.bgApp .width60, .bgApp .width40{width:100%; float:none; display:block; text-align:center;}
	#box3{height:auto !important; margin-bottom:30px;}
	.bgApp .width40 .shortLine{margin:15px auto;}
	#serv .col_1_2, #serv .col_1_2_right{width:80%;}
	#about{text-align:center;}
	#about .col_1_5 {width: 30%; float: none; display: inline-block;}

	#news .col_1_3{float:none; width:49%; display:inline-block;}
	#news .float_clear{display:none;}
	.banner{height:316px;}
}
@media screen and (max-width: 860px)
{
	
	.banner .xxlarge{font-size:2.5em}
	.banner .large{font-size:1.9em;}

}
@media screen and (max-width: 800px) 
{
	.col_1_2, .col_1_2_right, .col_1_3, .col_1_4, .col_1_5, .col_1_6, .col_2_3 {width:100%; float:none;}
	.banner {height:275px;}
	.width25 {width:50%;}
	#videos .col_1_3 {width:50%; float:none; display:inline-block;}
	#videos .float_clear {display: none;}
	#news .float_right, #news .float_left {float:none; display:block;}
		#news .float_right .space50 {height: 10px;}
	#news img {height: auto;}
	.absPgHeader {width: 100%;}
	#projects .projImght{height:auto;}

	/*#proj .imgContainer{height:auto;}*/
	#proj .col_1_4 {width: 50%;float: left;}
	#serv .col_1_2, #serv .col_1_2_right {width: 100%;}
	#about .col_1_5 {width: 49%;}
	.vline, .vl {border: none;}
	#videoreview .col_1_3{width:49%; display:inline-block;}
	  .banner .xxlarge{font-size:2.2em}
	.banner .large{font-size:1.2em;}
}

	@media screen and (max-width: 768px) 
	{
		.banner{height:264px;}
	#serv .width70 .width33{width:100%; float:none; display:block;}
		#news .news-photo{height:200px;}
}
@media screen and (max-width: 640px)
{   
	.col_1_3{width:100%}
	.col_2_3{width:100% }

	.w50{width:100%;}
	.app_r_padding{padding:0 !important}
	.textBox{width:93.7%;}
	.cmbBox{width:93.7%;}

	.banner{height:220px;}
	.col_340{width:100%;}

	.news-img{float:none; display:block;}
	.news-info{margin:15px 0 0 0;}
	.newsPhoto{width:100%;}

	.albumPic{float:none;}
	.albumDesc{margin-left:0; margin-top:20px;}

	
	.mobTxt{display:block;}
	.mobTxt .xxlarge{font-size:2em; margin-top:30px;}
	.mobTxt .large{font-size:1.5em;}
	.banner h1, .banner h2{display:none;}
}
@media screen and (max-width: 540px)
{
	.pageH1{font-size:2em;}
	.banner{height:186px;}
	#videos .col_1_3{width:100%; display:block;}
	.absBox .col_1_4{width:100%; }
	.absBox .col_1_4 .pad_40{padding:20px; }

	#serv .readAnch, #serv .readAnchOutline{display:block; margin:0 0 15px 0;}
	#about .col_1_5 {width: 100%;}
	#news .col_1_3{width:100%;}
	#videoreview .col_1_3{width:100%;}
}
@media screen and (max-width: 480px)
{	
	.home_pad_offset{padding:0.6em;}
	.banner{height:165px;}
	.extra-large{font-size:2.1em;}
	.xxlarge{font-size:2.5em;}
	.width25{width:100%;}
	.news-img{width:100%;}
	.albumPic{width:100%;}
}
@media screen and (max-width: 414px)
{
	.banner{height:142px;}
	.extra-large{font-size:1.8em;}
	.xxlarge{font-size:2.1em;}
	.pageH1{font-size:1.7em;}
	.large{font-size:1.5em;}
	.absBoxSpacer{height:30px;}

	#navBtn{top:70px;}

	.iconBox{float:none; display:block; margin:0 auto;}
	.iconInfo{margin:20px 0 0 0; text-align:center;}
	#serv .box{padding:20px;}
	/*.vline{display:none;}*/
	.vline {
		border-right:none;
	}
}
@media screen and (max-width: 375px)
{
	.large{font-size:1.6em;}
	.xxlarge{font-size:1.8em;}
	.banner{height:129px;}
	.extra-large{font-size:1.5em;}
	.btnAppointment{font-size:1em; padding:5px 8px;}
}
@media screen and (max-width: 360px)
{
	.xxlarge{font-size:1.7em;}
	.banner{height:124px;}
	.pageH1{font-size:1.5em;}
	.paraTxt{font-size:0.9em;}
	.topCall{bottom:0;}
	.large{font-size:1.2em;}
	#navBtn{top:60px;}
	.btnAppointment{font-size:0.9em; text-transform:capitalize;}
}
@media screen and (max-width: 320px)
{
	.banner{height:110px;}
	.pageH1{font-size:1.3em;}
	.extra-large{font-size:1.4em;}
	.logo{width:120px;}
	#navBtn{top:50px;}
	#news .news-photo{height:180px;}
}


